<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">木子工作室</a><button class="navbar-toggler"
            data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">首页</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">业务</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">联系我们</a></li>
                {% if user.is_authenticated %}
                <div class="row" >
                    <div class="col"   >
                        <li> <small style="color: red;">你好 {{user.username}}</small> </li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account_logout' %}">退出</a></li>
                    </div>
                   
                </div>
                
                {% else %}
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account_signup' %}">注册</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account_login' %}">登录</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>